<!--
A comment describing this element

Example:

    <my-elem></my-elem>

Example:

    <my-elem>
      <h2>Hello my-elem</h2>
    </my-elem>

@demo demo/index.html

<link rel="import" href="cytoscape.html">

elements: [ // list of graph elements to start with
	{ // node a
		data: { id: 'a' }
	},
	{ // node b
		data: { id: 'b' }
	},
	{ // edge ab
		data: { id: 'ab', source: 'a', target: 'b' }
	}
],
-->
<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<link rel="import" href="cytoscape-script.html">

<dom-module id="bio-cytoscape">
	<template>
		<style>
			:host {
				display: block;
			}
			#cytoscape-canvas{
				width: var(--canvas-width, 100%);
				height: var(--canvas-height, 500px);
				border: 1px solid black;
			}
		</style>


		<div id="cytoscape-canvas"></div>


	</template>
	<script>

		Polymer({
			is: 'bio-cytoscape',

			properties:{
				model:{
					type: Object,
					value: null,
					observer: '_modelChanged'
				},


				cy:{
					type: Object,
					value: null,
					notify: true
				}


			},

			_modelChanged: function(newModel, oldModel){
				if(newModel != null){
					var cy = this.getCanvas();
					cy.data = newModel.data;
					cy.add(newModel.elements);
					var layout = {
						name: 'cose',
						idealEdgeLength: 100,
						nodeOverlap: 20
					};
					var nullLayout = { name: 'preset'};
					cy.layout(nullLayout);
					this.highlight(['STAT'], "#900000");

				}

			},


			highlight: function(symbols, nodeColor){
				if(this.cy != null){
					for(symbol in symbols){
						var search = '[name=' + symbol + ']';
						var nodes = this.cy.nodes(search);
						for(node in nodes){
							node.fillcolor = nodeColor;
						}
					}
				}
			},

			getCanvas: function(){
				if(this.cy == null){
					this.cont = Polymer.dom(this.root).querySelector("#cytoscape-canvas");
					this.cy = cytoscape({
					  container: this.cont, // container to render in

					  style: [ // the stylesheet for the graph
					    {
					      selector: 'node',
					      style: {
					        'background-color': '#666',
					        'label': 'data(name)'
					      }
					    },

					    {
					      selector: 'edge',
					      style: {
					        'width': 3,
					        'line-color': '#ccc',
					        'target-arrow-color': '#ccc',
					        'target-arrow-shape': 'triangle'
					      }
					    }
					  ],

						layout: {
	            name: 'cose',
	            idealEdgeLength: 100,
	            nodeOverlap: 20
	          },

					});
				}
				return this.cy;
			}
		});


	</script>
</dom-module>
